/.idea
frontend/package-lock.json
frontend/package.json
frontend/vite.config.js
frontend/eslint.config.js
frontend/.env
backend/src/__init__.py
backend/src/.env
backend/src/__init__.py
backend/src/routes`/__init__.py
backend/src/routes`/__init__.py
backend/src/__init__.py
